:root {
  --component-font-size: 0.8rem;
  --component-height: calc(32px);
  --component-border-radius: 4px;
}

.button {
  min-width: calc(var(--component-font-size) * 2);
  min-height: var(--component-height);
  border: none;
  border-radius: var(--component-border-radius);
  background-color: #0288d1;
  color: white;
  font-size: var(--component-font-size);
  text-transform: uppercase;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  padding: 10px;
  margin: 0px;
}

.button:hover {
  background-color: #5eb8ff;
  cursor: pointer;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:active {
  background-color: #005b9f;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:disabled {
  background-color: #455a64;
  color: #cfd8dc;
}

.button.logout {
  background-color: #ec407a;
}

.invisible {
  display: none;
}

.input, .textarea {
  align-self: center;
  min-height: var(--component-height);
  border: none;
  border-radius: var(--component-border-radius);
  font-size: var(--component-font-size);
  padding: 0px 10px;
  outline: 1px solid #e0e0e0;
}

.textarea {
  min-height: calc(var(--component-height) * 3);
}

.input:hover, textarea:hover {
  outline: 1px solid #5eb8ff;
}

.input:focus, textarea:focus {
  transition-property: outline;
  transition-duration: 0.5s;
  outline: 3px solid #0288d1;
}

.input:autofill, .input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: #0288d1;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}